{% extends "base.html"%} {% block title%} Welcome {% endblock%} {% block content%}
<div class="flex flex-col max-w-lg w-full">
	<div class="flex items-center gap-4 w-full bg-white shadow-md border border-gray-200 p-4 rounded-lg">
		<div class="avatar">
			<div class="w-8 rounded-full">
				<img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
			</div>
		</div>
		<label class="floating-label w-full">
			<input
				type="text"
				placeholder="What's your gimik?"
				class="input input-md w-full"
				id="post_input"
			/>
			<span>Your Gimik</span>
		</label>

		<button
			class="btn btn-primary"
			{% if not user %} onclick="sign_in_modal.showModal()" {%else%} id="post_button" {% endif %}
		>
			Post
		</button>
		
	</div>
	<div class="divider"></div>

	<div class="flex flex-col gap-2">
		{% for post in posts%}
		<div class="card card-md bg-white shadow-md">
			<div class="card-body p-4 bg-white rounded-lg flex-row border border-gray-200 items-start">
				<div class="avatar">
					<div class="w-8 rounded-full">
						<img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
					</div>
				</div>
				<div class="flex flex-col gap-2 w-full">
					<div class="flex flex-col">
						<div class="flex justify-between items-center">
							<div class="flex items-center gap-2">
								<h2 class="font-bold">{{post.author_name}}</h2>
								<span
									class="text-gray-500 time-ago"
									data-timestamp="{{ post.created_at }}"
									>Loading...</span
								>
							</div>
							{% if user and user.id == post.author_id %}
							<div class="dropdown">
								<div
									tabindex="0"
									role="button"
									class="btn btn-ghost rounded-full btn-sm"
								>
									<img
										src="{{ url_for('static', filename='icons/ellipsis-horizontal.svg') }}"
										class="w-5 h-5 text-gray-500"
										alt="Ellipsis horizontal"
									/>
								</div>
								<ul
									tabindex="0"
									class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
								>
									<li><a>Delete</a></li>
								</ul>
							</div>
							{% endif %}
						</div>
						<p>{{post.content}}</p>
					</div>
					{#
					<figure>
						<img
							src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
							alt="Shoes"
							class="rounded"
						/>
					</figure>
					#}

					<div class="flex gap-2 item text-gray-500">
						<button
								{% if not user %} onclick="sign_in_modal.showModal()" {% endif %}
								class="btn btn-ghost rounded-full btn-sm like-button"
								data-post-id="{{ post.id }}"
								data-liked="{{ 'true' if post.liked_by_user else 'false' }}"
						>
								<img
										src="{{ url_for('static', filename='icons/heart-solid.svg' if post.liked_by_user else 'icons/heart.svg') }}"
										class="w-5 h-5 text-gray-500"
										alt="Heart"
								/>
								<span class="like-count">{{ post.likes_count }}</span>
						</button>

						<button class="btn btn-ghost rounded-full btn-sm">
							<img
								src="{{ url_for('static', filename='icons/chat-bubble-oval-right.svg') }}"
								class="w-5 h-5 text-gray-500"
								alt="Chat Bubble Oval Right"
							/>
							0
						</button>
						<button class="btn btn-ghost rounded-full btn-sm">
							<img
								src="{{ url_for('static', filename='icons/arrow-path-rounded-square.svg') }}"
								class="w-5 h-5 text-gray-500"
								alt="Arrow Path Rounded Square"
							/>
							0
						</button>
					</div>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>
{% endblock %}
